# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=sgt_iot_user
MONGO_PASSWORD=sgt_iot_password_dev
MONGO_DB=sgt_iot

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MQTT
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=

# JWT
JWT_SECRET=dev-secret-change-in-production

# Servicio
IOT_PORT=3002
